.mainContainer {
    display: flex;
    width: 100%; /* Cambiar de 100vw a 100% */
    height: 100vh; /* Opcional, para ocupar toda la altura de la pantalla */
    overflow-x: hidden; /* Prevenir desplazamiento horizontal */
  }
  
  .mainContainer, .sideBar, .listTareas {
    box-sizing: border-box;
}
.sideBar {
    width: 25%;
    max-width: 25%;
    min-width: 250px; /* Añade un ancho mínimo para evitar que sea demasiado estrecho */
}

.listTareas {
    width: 75%;
    max-width: 75%;
}