.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E2A38;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.containerTitleHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.containerTitleHeader h2 {
    color: #FFFFFF;
    margin: 0;
    line-height: normal;
    display: flex;
    align-items: center;
}